*{
  margin: 0;
 padding: 0;
 box-sizing : border-box;
}

html,
body {
 height : 100%;
 width : 100%;
 background-color : black;
 color:red;

display: flex;
justify-content: center;
align-items: center;

}


.signal{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 2px  gray solid;
}







