
*{
  margin: 0;
 padding: 0;
 box-sizing : border-box;
}
html,
body {
 height : 100%;
 width : 100%;
 background-color : #101040;
 color: aliceblue;
 display: flex;
 justify-content: center;
 align-items: center;


}


.inp-box{
height: 50px;
width: 75px;
text-align: center;
margin: 5px;
font-size: 25px;
}


.inp-box:focus{
  outline: none;
  border: 2px solid #17c0cd;
}




